<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="excelPath" value="C:\Users\Fernando\Desktop\Vacaciones\Vacaciones.xlsx" />
    <add key="excelSheet" value="Hoja 1$" />
    <add key="addDays" value="1" />
    <add key="lastUpdateDay" value="1" />
    <add key="lastUpdateMonth" value="8" />
    <add key="lastUpdateYear" value="2020" />   
  </appSettings>
</configuration>